body{
    font-family: sans-serif;
}
.wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #20B2AA;
   display: flex;
   justify-content: center;
   align-items: center;
}
.card{
    width: 400px;
    height: 400px;
    
    position: relative;
    }
.Front,.Back{
     position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
   justify-content: center;
   align-items: center;
   transition: 1s;
   backface-visibility: hidden;
   border-radius: 10px;
}
.Front{
background-color: #fff;
}
.Back{
background-color: #9457EB;
transform: rotateY(180deg);
}
.card:hover .Front{transform: rotateY(180deg);}
.card:hover .Back{transform: rotateY(360deg);}




